packages/nvim/.config/nvim/plugged
packages/zsh/.config/zsh/.zsh_history
packages/zsh/.config/zsh/plugins
packages/zsh/.config/zsh/.zcompdump
packages/ranger/.config/ranger/plugins
packages/kitty/.config/kitty/kitty-themes
